
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

New meeting has been added, some html magic here, so it's nicer to the eye.
Redirect to 'my' meetings after x seconds?