
@{ ViewData["Title"] = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="verAndHorCenter">
    <div>
        <h5 class="verAndHorCenter"><span class="badge"><i class="fas fa-check fa-2x" style="color: #9CCC65;"></i></span>Pomyślnie odwołałeś/usunąłeś całkowicie wizytę!</h5>
        <p class="text-center mt-2"> Wizyty sprawdzisz w panelu <a asp-area="" asp-controller="Home" asp-action="Meeting">Wizyt</a>.</p>
    </div>

</div>